<!DOCTYPE html>

<html>

<head>
    <title>issuebook</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div id="bdy">
        <div id="content">

            <app-header></app-header>

            <div class="container col-sm-5 mt-5 border shadow"
                style="background-color: whitesmoke;box-shadow: 1px 1px 20px lightgray;">
                <h6 class="mt-4">
                    A library management system is a web application with a goal to help students and
                    librarians of college library. One of the best facility of this website is that the students
                    who wants to issue a book from the library doesn’t need to go to the library
                    physically. <br><br>If he/she is a registered for library then all the books that are currently
                    available in the library can be seen by him/her and including that, he/she is also able
                    to issue the book. Once the book is issued, student is also able to renew the book so
                    that the return date will be extended. We will provide service to both the students as
                    well as librarians. All the data of the library will be kept by the web application itself
                    so there is no need to record the data separately.Also we including chatboat for user
                    to hepl the answer of some question.</h6>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</body>

</html>