.myDiv {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 1px 1px 20px gray;
}

.btn {
    font-size: 14px;
    padding: 5px 15px;
    background: #cccccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type=text],[type=password]{    
    border: none;
    color: #795548;
    border-bottom: 0.5px solid #795548;
    background: transparent;
    outline: none;
    font-family: 'Lucida Sans', sans-serif;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-size: 15px;
    margin-bottom: 15px;
}

input[type=text]:hover,[type=password]:hover,.btn:hover{
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
}

#content{
    padding-bottom: 10rem;   
}

#bdy{
    position: relative;
  min-height: 100vh;
}

#footer{
    position: absolute;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke; 
}

#footer p {
text-align: center;
padding: 5px;
font-family: Georgia, serif;
font-size: 16px;
}
