<!DOCTYPE html>

<html>

<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div id="bdy">

        <div id="content">


            <app-header></app-header>

            <h1 class="mt-4 ml-4">LIBRARIAN PROFILE</h1>

            <table class="table tbl w-50 table-bordered ml-4 mt-3 shadow table-striped  ">
                <tbody>
                    <tr>
                        <th>REGISTRATION DATE :</th>
                        <td>31/10/2020</td>
                    </tr>
                    <tr>
                        <th>NAME :</th>
                        <td>Utsav Parakhiya</td>
                    </tr>
                    <tr>
                        <th>LIBRARIAN ID : </th>
                        <td>18CEUOG035</td>
                    </tr>
                    <tr>
                        <th>GENDER : </th>
                        <td>Male</td>
                    </tr>
                    <tr>
                        <th>BIRTH DATE : </th>
                        <td>30/03/2001</td>
                    </tr>
                    <tr>
                        <th>MOBILE NO : </th>
                        <td>9726247049</td>
                    </tr>
                    <tr>
                        <th>EMAIL : </th>
                        <td>utsavpatel1234@gmail.com</td>
                    </tr>
                </tbody>
            </table>

        </div>
        
        <app-footer></app-footer>

    </div>


</body>

</html>